[Unit]
Description=Service for exporting my desktop metrics to prometheus
Requires=dev-kraken.device
After=dev-kraken.device

[Service]
Type=simple
ExecStart=rust-node-exporter

[Install]
WantedBy=multi-user.target
